<div class="flex items-center justify-center w-full h-screen">
    <img src="/img/hero.png" class="object-cover w-full h-full" alt="">

    <div class="absolute inset-0 z-30 flex items-center justify-center">
        <img class="max-w-md mx-auto animated-image" src="/img/question.png" alt="">
    </div>

    <section id="section05" class="demo" style="z-index: 40;">
        <a href="#story"><span></span>Scroll down</a>
    </section>
</div>

<section id="story" class="flex items-center justify-start h-screen bg-dark">
    <div class="w-full px-8 pt-20 mx-auto text-left pb-28 max-w-7xl text-light">
        <div class="flex flex-col justify-start h-full">
            <p class="mb-8 -ml-1 font-black text-9xl">our story</p>
            <p class="pb-4 text-3xl">
                We <span class="font-bold">create</span>. We <span class="font-bold">solve</span>. We <span class="font-bold">deliver</span>.
            </p>
            <p class="max-w-xl">
                Ever since Enigma Creative Solutions foundation in 1993, we firmly
                believe that fun, joy for life, friendship, and great ideas are being directly
                compatible with standing out of average, working hard, remaining
                focused, targeting ambitious goals and resourcing with client’s assets
                with high responsibility. Results brought up this way are far more fulfilling
                and valuable than any other. Not to mention they evolve in long-term
                respect and friendships.
            </p>
        </div>
    </div>
</section>
<section class="py-12 bg-light">
    <div class="grid items-center w-full grid-cols-2 gap-8 px-8 py-8 mx-auto text-left max-w-7xl">
    <div data-aos="fade-right" class="aspect-video">
        <video class="transition-all rounded-lg hover:skew-y-3" id="player" playsinline autoplay loop muted data-poster="/path/to/poster.jpg">
            <source src="/img/Web_adria.mp4" type="video/mp4" />
        </video>
    </div>
    <div data-aos="fade-left"
     data-aos-easing="ease-in-sine">
        <div class="py-4 text-5xl uppercase text-pink">
            <p class="font-black uppercase">Adria mobil</p>
            <p class="ml-0 text-3xl">We make every stand alive</p>
        </div>
    <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
    </p>
    <a class="inline-block my-4 transition-transform text-pink hover:translate-x-3" href="">More about the project <i class="transition-all fa-regular fa-chevrons-right"></i></a>
    </div>
</div>
<div class="grid items-center w-full grid-cols-2 gap-8 px-8 py-8 mx-auto text-right max-w-7xl">
    <div data-aos="fade-right"
     data-aos-easing="ease-in-sine">
        <div class="relative z-10 py-4 text-5xl text-blue-400 uppercase">
            <p class="font-black uppercase">Adria Home 20 years</p>
            <p class="mr-0 text-3xl">Life is an event. Make it memorable.</p>
        </div>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
        <a class="inline-block my-4 transition-transform text-pink hover:translate-x-3" href="">More about the project <i class="transition-all fa-regular fa-chevrons-right"></i></a>
    </div>
    <div data-aos="fade-left" class="relative z-0">
        <img src="/img/events.jpg" class="object-cover transition-all rounded-lg aspect-video hover:-skew-y-3" alt="">
    </div>
</div>
<div class="grid items-center w-full grid-cols-2 gap-8 px-8 py-8 mx-auto text-left max-w-7xl">
    <div data-aos="fade-right">
        <img src="/img/photo.jpg" class="object-cover transition-all rounded-lg aspect-video hover:skew-y-3" alt="">
    </div>
    <div data-aos="fade-left"
     data-aos-easing="ease-in-sine">
        <div class="py-4 text-5xl uppercase text-lime">
            <p class="font-black uppercase">Kovač interier</p>
            <p class="ml-0 text-3xl">Bring your creativity to life.</p>
        </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a class="inline-block my-4 transition-transform text-pink hover:translate-x-3" href="">More about the project <i class="transition-all fa-regular fa-chevrons-right"></i></a>
    </div>
</div>
<div class="flex flex-wrap justify-center py-12 my-5 text-light">
      <a data-aos="fade-up"
        href="/our-projects"
        class="relative block p-0 overflow-hidden text-sm font-semibold tracking-widest text-center uppercase align-middle border-2 border-solid rounded-lg bg-dark button button--winona hover:bg-dark hover:text-white focus:outline-none"
        data-text="See all projects"
      >
        <span class="block align-middle">
          See all projects
        </span>
      </a>
    </div>
</section>
<section class="bg-dark">
    <div class="py-24 sm:py-32">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <dl class="grid grid-cols-1 text-center gap-x-8 gap-y-16 lg:grid-cols-3">
      <div class="flex flex-col max-w-xs mx-auto gap-y-4">
        <dt class="text-base leading-7 text-light">naughty children...not finished yet</dt>
        <dd class="order-first text-3xl font-bold tracking-tight text-pink sm:text-5xl">+24</dd>
      </div>
      <div class="flex flex-col max-w-xs mx-auto gap-y-4">
        <dt class="text-base leading-7 text-light">successfully executed trade show stands</dt>
        <dd class="order-first text-3xl font-bold tracking-tight text-light sm:text-5xl">+800</dd>
      </div>
      <div class="flex flex-col max-w-xs mx-auto gap-y-4">
        <dt class="text-base leading-7 text-light">years of sweat</dt>
        <dd class="order-first text-3xl font-bold tracking-tight text-lime sm:text-5xl">+30</dd>
      </div>
    </dl>
  </div>
</div>
</section>
<section class="bg-dark">
    <!--  Carousel 2 -->
    <div class="max-w-3xl mx-auto my-12"><img src="/img/enigma.png" alt=""></div>
    <p class="py-4 text-center text-white">It is our partners who drive our energy and push our limits, therefore, <b>WE SALUTE YOU ALL FOR TRUSTING US!</b></p>
    <div class="bg-white slider">
      <div class="gap-8 slide-track2 image-center">
        <div class="bg-red-500 slide"><img src="/img/adria.png" alt=""></div>
        <div class="bg-purple-500 slide"><img src="/img/brinox.png" alt=""></div>
        <div class="bg-blue-500 slide"><img src="/img/interblock.png" alt=""></div>
        <div class="bg-green-500 slide"><img src="/img/hemro.png" alt=""></div>
        <div class="bg-pink-500 slide"><img src="/img/yaskawa.png" alt=""></div>
        <!-- same 5 slides doubled (duplicate)-->
        <div class="bg-red-500 slide"><img src="/img/adria.png" alt=""></div>
        <div class="bg-purple-500 slide"><img src="/img/brinox.png" alt=""></div>
        <div class="bg-blue-500 slide"><img src="/img/interblock.png" alt=""></div>
        <div class="bg-green-500 slide"><img src="/img/hemro.png" alt=""></div>
        <div class="bg-pink-500 slide"><img src="/img/yaskawa.png" alt=""></div>
        <!-- same 5 slides tripled (duplicate 2)-->
        <div class="bg-red-500 slide"><img src="/img/adria.png" alt=""></div>
        <div class="bg-purple-500 slide"><img src="/img/brinox.png" alt=""></div>
        <div class="bg-blue-500 slide"><img src="/img/interblock.png" alt=""></div>
        <div class="bg-green-500 slide"><img src="/img/hemro.png" alt=""></div>
        <div class="bg-pink-500 slide"><img src="/img/yaskawa.png" alt=""></div>
        <!-- same 5 slides tripled (duplicate 3)-->
        <div class="bg-red-500 slide"><img src="/img/adria.png" alt=""></div>
        <div class="bg-purple-500 slide"><img src="/img/brinox.png" alt=""></div>
        <div class="bg-blue-500 slide"><img src="/img/interblock.png" alt=""></div>
        <div class="bg-green-500 slide"><img src="/img/hemro.png" alt=""></div>
        <div class="bg-pink-500 slide"><img src="/img/yaskawa.png" alt=""></div>
      </div>
    </div>
</section>
<section class="py-24 bg-dark">
    <div class="grid grid-cols-3 px-8 mx-auto max-w-7xl">
        <div class="text-6xl font-black text-light">get in touch</div>
        <div class="pt-5 text-light">
            <b>Enigma creative solutions</b><br>
            Pobreznik 11, <br>
            8000 Novo mesto <br>
            Slovenia <br><br>
            <a href="mailto:info@enigma.si">info@enigma.si</a>
            <a href="tel:+38673376840">+386 7 33 76 840</a>
        </div>
    </div>
</section>

<script>
    function scrollToNextSection() {
        const currentSection = document.querySelector(".demo");
        const nextSection = currentSection.nextElementSibling;

        nextSection.scrollIntoView({
            behavior: "smooth"
        });
    }
</script>
